/*
==================================================================================
                                Table Of Contents:
================================================================================== 
*/

/*
    1. Element Selectors
    2. Typography
            i. Utility Typography Classes
           ii. Specific Typography Classes
    3. Layout
            i. Utility Layout Classes
    4. Buttons
            i. Standard Buttons
           ii. JavaScript Buttons
    5. Navbar
            i. Mobile / Hamburger
           ii. Desktop
          iii. Other Navbar Types
    6. Media
            i. Images
           ii. Videos
          iii. Other [Embeds, etc.]
    7. Colors
            i. Light
           ii. Medium
          iii. Dark
         iiii. Translucent
================================================================================== 
8. Section Dividers Copy’n’Paste at file /end
================================================================================== 
*/ 

/* 
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
*/


/* 
=======================
1. Element Selectors
=======================
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    background: #252525;
}

h1,
h2,
h3,
p
 {
    margin-top: 0;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 00;
    font-size: 3rem;
    text-align: center;
    margin: 3em auto;
    color: #797878;
}

a {
    text-decoration: none;
    /* color: #56bddc;
    color: #144f61; */
    font-weight: 600;
}

main {
    margin: 0 auto;
    width: 90%;
}

img {
    max-width: 100%;
    display: block;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #141414;
    padding-top: 1em;
    color: white;
    text-align: center;
    font-size: .75rem;
}

footer a {
    color: #a8a7a7;
    font-weight: 400;
}

footer a:hover,
footer a:focus {
    color: #56bddc;
    font-weight: 600;
    font-size: .90rem;
}

/* footer:hover .temp-text {
    color: yellow;
    margin-bottom: 10px;
} */



/* 
=================
2. Typography 
================= 
*/

/* ------------ Utility Typography Classes -------------- */

.mt0 {
    margin-top: 0;
}

.mb0 {
    margin-bottom: 0;
}


/* ------------ Specific Typography Classes ------------- */

.header-accent {
    display: block;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 2.5rem;
}

.section-default,
.section-one a {
    color: #555454;
    text-align: center;
    /* background: hsla(194, 30%, 60%, 0.5); */
    padding: 2em;
    margin: 4em auto;
    border-radius: 20px;
    /* background: #616161; */
    /* background: #141414; */
    /* background: hsla(194, 83%, 60%, 0.5); */
}


.section-one:hover a {
    color: #a8a7a7;
    
}

.section-two {
    color: #797878;
}

.section-two h2 {
    font-size: 2em;
    padding: 1.5em 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.section-two h2:hover {
    background: #141414;
    border-radius: 20px;
}

.section-two p {
    font-size: 1.5rem;
}

.section-two ol {
    margin-left: 0em;
    padding: 0 2.5em;
}

.section-two ol li {
    padding-top: .75em;
}

.section-two li {
    font-size: 1rem;
}







/* 
=================
3. Layout
================= 
*/





/* ----------- Utility Layout Classes--------------- */

.display-flex {
    display: flex;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
}
/* ----------- Specific Layout Classes -----------  */






/* 
=================
4. Buttons
================= 
*/

/* ----------- Utility Button Classes --------------- */
/* ----------- Specific Button Classes -----------  */


/* 
=================
5. Navbar
================= 
*/

/* ----------- Mobile View Menu --------------- */
/* ----------- Desktop View Menu --------------- */
/* ----------- OTHER Navbar Types ------------ */
/* ---- Social Media Menu ---- */
/* ----  ---- */
/* ----  ---- */



/* 
===================
6. Media
=================== 
*/

/* ----------- Images --------------- */
/* ----------- Videos -----------  */
/* ----------- Other [Embeds etc] -----------  */





/* 
=================
7. Colors
================= 
*/


/* ----------- Accents -----------  */
/* ----------- Translucent -----------  */
/* ----------- Light --------------- */
/* ----------- Medium -----------  */
/* ----------- Dark -----------  */








/* 
================================== 
8. Section Dividers Copy’n’Paste
      (Or Click’n’Drag :)
================================== 
*/

/* ------------ preSub-Dividers / Note / Type ------------ */

/* --  -- */
/* --  -- */
/* --  -- */
/* --  -- */
/* --  -- */
/* --  -- */



/* ------------ Sub-Dividers / Specific Type / Media Queries ------------ */

/* ----  ---- */
/* ----  ---- */
/* ----  ---- */
/* ----  ---- */
/* ----  ---- */
/* ----  ---- */




/* ------------ General Section Dividers / Table of Contents Sub-Category ------------ */

/* ------------  ------------ */
/* ------------  ------------ */
/* ------------  ------------ */
/* ------------  ------------ */
/* ------------  ------------ */
/* ------------  ------------ */
/* ------------  ------------ */
/* ------------  ------------ */





/* ------------ Block / Full / New Section Dividers ------------ */

/* 
=================
================= 
*/

/* 
=================
================= 
*/

/* 
=================
================= 
*/

/* 
=================
================= 
*/




/* ------------ BIG Block Dividers ------------ */

/* -- Medium -- */

/* 
=====================================
=====================================
*/

/* 
=====================================
=====================================
*/

/* 
=====================================
=====================================
*/

/* 
=====================================
=====================================
*/



/* -- Large -- */

/* 
==================================================================================
==================================================================================
*/

/* 
==================================================================================
==================================================================================
*/

/* 
==================================================================================
==================================================================================
*/



/* 
Yes, I made this myself. For more like it please see my GitHub personal "OpenSource" Repo *public version* here:

https://github.com/beesanderson/boiler-code-snips

*/